language: cpp
install: make
os: linux
compiler: clang

addons:
  apt:
    packages:
      - doxygen
script:
  - make test
  - make cuda_build_test
  - make -C examples/linear_algebra test
  - make -C examples/resample benchmark
  - doxygen Doxyfile
